# Can also ignore all directories and files in a directory.
#build/**/*
#dist/**/*
#nbproject/private/**/*

build/built-jar.properties
nbproject/private/private.properties
build/
dist/
nbproject/private/
build/.DS_Store
dist/FlyAWay.jar

build/classes/View/CreateChangeAirportView.class
build/classes/View/AirportView.class

build/classes/flyaway/resources/FlyAWayView.properties

build/classes/flyaway/resources/FlyAWayApp.properties

build/classes/flyaway/resources/FlyAWayAboutBox.properties

build/classes/flyaway/FlyAWayView.class

build/classes/View/resources/UserView.properties

build/classes/View/resources/StaffView.properties

build/classes/View/resources/PlaneView.properties

build/classes/View/resources/LoginView.properties

build/classes/View/resources/FlightView.properties

build/classes/View/resources/CreateChangeUser.properties

build/classes/View/resources/CreateChangeStaffView.properties

build/classes/View/resources/CreateChangePlaneView.properties

build/classes/View/resources/CreateChangeFlightView.properties

build/classes/View/resources/CreateChangeAirportView.properties

build/classes/View/resources/ChildPicker.properties

build/classes/View/resources/ChangeFlightStaffView.properties

build/classes/View/resources/AirportView.properties

build/classes/View/UserView.class

build/classes/View/StaffView.class

build/classes/View/PlaneView.class

build/classes/View/LoginView.class

build/classes/View/FlightView.class

build/classes/View/CustomTableCellRenderer.class

build/classes/View/CreateChangeUser.class

build/classes/View/CreateChangeStaffView.class

build/classes/View/CreateChangePlaneView.class

build/classes/View/CreateChangeFlightView.class

build/classes/View/CreateChangeAirportView.class

build/classes/View/ChildPicker.class

build/classes/View/CheckboxList.class

dist/README.TXT

dist/lib/AbsoluteLayout.jar

nbproject/private/private.properties

nbproject/private/private.xml
